jellyfin:
    image: jellyfin/jellyfin:latest
    container_name: jellyfin
    hostname: {{ansible_hostname}}
    restart: 'unless-stopped'
    ports:
      - 8096:8096
    devices:
      - /dev/dri/renderD128:/dev/dri/renderD128
    environment:
      - JELLYFIN_PublishedServerUrl=http://{{ansible_hostname}}:8096 # Optional - alternative address used for autodiscovery
    volumes:
      - /Apps/jellyfin/config:/config
      - /media/md0/Audio/Music:/Music
      - /media/md0/Video/Movies:/Movies
      - /media/md0/Video/Series:/Series
